body {
    font-size: 0.94rem;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

main {
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img {
    border-radius: 1.25rem;
    width: 100%;
}

h1 {
    font-size: 0.96rem;
    padding-top: 0.625rem;
    color: hsl(218, 44%, 22%);
    line-height: 1.25;
    text-align: center;
}

p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    text-decoration: none;
}


